<div class="key_input_container">
    <h3 class="auth__title">JWT authorization</h3>
    <p>Username/password is sent to {{authorizationUrl}} which in turn will respond with a valid token on success.</p>
    <div class="auth__description">{{description}}</div>
    <div>
        <div class="key_auth__field">
            <span class="key_auth__label">name:</span>
            <span class="key_auth__value">{{name}}</span>
        </div>
        <div class="key_auth__field">
            <span class="key_auth__label">in:</span>
            <span class="key_auth__value">{{in}}</span>
        </div>

        {{#if isLogout}}
            <div class="key_auth__field">
                <span class="key_auth__label">JWT:</span>
                <span class="key_auth__value">{{value}}</span>
            </div>
        {{else}}
            <div class="key_auth__field">
                <span class="key_auth__label">Username:</span>
                <input placeholder="username" class="auth_input input_apiKey_username" name="username" type="text" />
            </div>
            <div class="key_auth__field">
                <span class="key_auth__label">Password:</span>
                <input placeholder="password" class="auth_input input_apiKey_password" name="password" type="text" />
            </div>
        {{/if}}
    </div>
</div>
